* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* background image */
.header{
    background-image: url('../images/banner/banner1.png');
    height: 100%;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
}
/* banner styles */
.banner {
    display: flex;
    margin: 0 200px;
    align-items: right;
    }
.banner-title{
    font: 'Work Sans';
    font-weight: 700 ;
    font-size:65px ;
    line-height:76.25px ;
    text-align: right ;
    margin-top:50%;
    position: relative;
    top: -16px;
    right: -500px
    }
.banner-des {
    font-family:'Work Sans';
    font-size: 10px;
    margin: 20px;
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    position: relative;
    top: -16px;
    right: -500px;
}
.btn-primary{
color: rgb(13, 15, 17);
    font-weight: 700px;
    font-size: 20px;
    border: 0;
    padding: 5px;
    height: 64px;
    border-radius: 5px;
    background: #fd6e0a;
    text-align:right;
    position: relative;
    top: -16px;
    right:-830px
}
/* main body */

.about{
   
   
   background: whitesmoke;
    border-radius: 10px;
    background-size: cover;
       
      
       align-items: center;
        margin:0 auto;
       
        
        
       
        }
        
        
        
       
.sec-title{
    font-family: 'Work sans';
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    margin-right: -800px;
    margin-left: 800px;
    
    
  
   
    
    

}
.sec-description{
    font-family: 'Work sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        margin-right: -800px;
        margin-left: 800px;
      
            
           
       

}
.skill-sec{
       text-align: center;
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 35px;
}
.skills-container {
    display: flex;
    gap: 30px;
    width:100%;
   margin-left: 200px;
   margin-right:300px ;
   text-align: center;

   
}
    
.skill{
    background: #FFFFFF;
   

    
   
}

.skill-title {
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    
}

.skill-description {
    color: #757575;
    font-size: 20px;

}
.container{
   margin: 100px 100px;
        background-image:url('../images/watch.png');
        background-repeat: no-repeat;
    font-family: 'Work sans';
        font-weight: 700;
        font-size: 30px;
        line-height: 47px;

  
    
    

}
.call-button{
    font-family: 'Work Sans';
    color:#fd6e0a;
    font-weight: 700;
    font-size: 20px;
    border:0;
    border-radius:10px;
    background-color: #FFFFFF;

}
/* contact styles */
.contact {
    display: flex;
    gap: 100px;
    background-color: #0d0803;
    padding: 130px 200px;
}

.contact .footer {
    text-align: left;
    font-size: 50px;
    color:#FFFFFF
}
.footer-des{
    color: #FFFFFF;
    line-height: 40px;
    font-family: 'Work sans';
    font-weight: 700;
    
}

.contact input, input[type="email"] {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;



}
.contact.call-button{
    font-family: 'Work Sans';
        color: #fd6e0a;
        font-weight: 700;
        font-size: 20px;
        border: 0;
        border-radius: 10px;
        background-color: #FFFFFF;

}

input {
    height: 30px;

}

.contact a {
    text-decoration: none;
}
